{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}



{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="card-group">
        <div class="card">
            <img src="{{ asset('images/paptaska 26x33cm.PNG') }}" class="card-img-top" width="20" height="120" alt="...">
            <div class="card-body">
                <h5 class="card-title">Papírová taška 26x33 mm</h5>
                <p class="card-text">Papírová taška hnědá, BIO barva. Balení obsahuje 20 ks sáčků.</p>
                <button type="button" class="btn btn-primary">Detail produktu</button>

            </div>
        </div>
        <div class="card">
            <img src="{{ asset('images/papsacek12x32,5_20ks.PNG') }}" class="card-img-top" width="20" height="120 alt="...">
            <div class="card-body">
                <h5 class="card-title">Papírové sáčky 15x30 mm</h5>
                <p class="card-text">Papírové sáčky hnědé, BIO barva. Balení obsahuje 50 ks sáčků.</p>
                <button type="button" class="btn btn-primary">Detail produktu</button>
            </div>
        </div>
        <div class="card">
            <img src="{{ asset('images/platenataska41x38.PNG') }}" class="card-img-top" width="20" height="120 alt="...">
            <div class="card-body">
                <h5 class="card-title">Plátěná nákupní taška 41x 38 mm</h5>
                <p class="card-text">Velká plátěná nákupní taška naturální. Rozměry 41x 38 mm.</p>
                <button type="button" class="btn btn-primary">Detail produktu</button>
            </div>
        </div>
    </div>


{% endblock %}
